@keyframes fadeEffect {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeEffectout {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes slideInFromRight {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(800%);
		opacity: 0;
	}
}

@font-face {
	font-family: "CODEb";
	src: url('font/CODEBold.otf');
}

@font-face {
	font-family: "CODE";
	font-style: normal;
	src: url('font/CODELight.otf');
}

@font-face {
	font-family: "Roboto";
	src: url('font/Roboto-Regular.ttf');
}

@font-face {
	font-family: "Robotoi";
	font-style: italic;
	src: url('font/Roboto-italic.ttf');
}

@font-face {
	font-family: "Roboto";
	src: url('font/Roboto-bold.ttf');
}

@font-face {
	font-family: "Holiday";
	src: url('font/HolidayFree.otf');
}

h1 {
	font-family: "Holiday", sans-serif;
	font-size: 350%;
}

h2 {
	font-family: "CODEb", Helvetica, sans-serif;
	font-size: 250%;
}

h3 {
	font-family: "CODEb", Helvetica, sans-serif;
	font-size: 150%;
}

h4 {
	font-family: "Robotoi", Helvetica, sans-serif;
	font-size: 100%;
}


#contact .separator {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 1%;
	padding-bottom: 1%;
	width: 95%;
	margin-top: 1%;
	margin-bottom: 3%;
	border: 2px solid #f5f5f5;
	color: #ab987a;
	background-color: #0f1626;
}

#profil .separator {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 1%;
	padding-bottom: 1%;
	width: 95%;
	margin-top: 1%;
	margin-bottom: 3%;
	border: 2px solid #f5f5f5;
	color: #5C2018;
	background-color: #ab987a;
}

#experience .separator {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 1%;
	padding-bottom: 1%;
	width: 95%;
	margin-top: 1%;
	margin-bottom: 3%;
	border: 2px solid #f5f5f5;
	color: #5C2018;
	background-color: #ab987a;
}

#carousel {
	justify-content: space-around;
	background-color: #ab987a;
	padding-top: 2%;
	padding-bottom: 2%;
}

#carousel img {
	max-height: 200px;
	max-width: 200px;
}

#carousel img:hover {
	transition-delay: 0.1s;
	transition-duration: 0.3s;
	transform: scale(1.2);
}

.banner {
	margin-left: 1.9%;
	display: flex;
	flex-direction: column;
	width: 95%;
	background-image: url("gallerie/space1.jpg");
	background-size: cover;
	background-position: bottom;
	text-align: center;
	padding-top: 350px;
	padding-bottom: 350px;
	color: #f5f5f5;
	letter-spacing: 7px;
}

#menu {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	margin-bottom: 1%;
}

button {
	border: none;
	width: 100%;
	padding-bottom: 1%;
	padding-top: 1%;
}

#menu h1 {
	opacity: 0;
	animation: 0.5s forwards ease-out 1s 1 fadeEffect;
}

.buttonBlock {
	margin-top: 1%;
	margin-left: 1%;
	padding-bottom: 5%;
	padding-top: 5%;
	transition-duration: 0.4s;
	opacity: 0.8;
	width: 25%;
	background-color: #0f1626;
	color: #ab987a;
	opacity: 1;
	animation: 2s reverse ease 0s 1 slideInFromRight;
}

.buttonBlock:nth-child(2n+1) {
	background-color: #ab987a;
	color: #5C2018;
	opacity: 1;
	animation: 2.3s reverse ease 0s 1 slideInFromRight;
}

.buttonBlock:nth-child(3n+1) {
	background-color: #5C2018;
	color: #0f1626;
	opacity: 1;
	animation: 2.7s reverse ease 0s 1 slideInFromRight;
}

.buttonBlock:hover{
	transform: scale(1.1);
	animation-delay: 0.2s;
	animation-duration: 0.5s;
}

.container{
	display: none;
	flex-direction: column;
	text-align: center;
	transition-delay: 0.1s;
	transition-duration: 0.3s;
	animation: fadeEffect ease-in-out 0.5s;
}

.row{
	display: flex;
	flex-direction: row;
}

.col{
	display: flex;
	flex-direction: column;
	width: 45%;
	text-align: center;
}

.fluid{
	width: 100%;
	align-content: center;
	justify-content: space-evenly;
}

.padded{
	padding: 1rem 0 1rem 0;	
}

.col li{
	list-style-type: none;
}

* {
	padding: 0 1rem 0 1rem;
}
